<!-- footer -->
<footer class='row'>
  <section class="col-sm-4">
    <h4>Site</h4>
    <ul>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">Site map</a></li>
      <li><a href="#">Site help</a></li>
    </ul>
  </section>

  <section class="col-sm-4">
    <h4>About</h4>
    <ul>
      <li><a href="#">Terms</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">FAQs</a></li>
    </ul>
  </section>

  <section class="col-sm-4">
    <h4>Contact us</h4>
    <ul>
      <li><a href="#">1800 000 000</a></li>
      <li><a href="#">Email</a></li>
    </ul>
  </section>
</footer>