<div class="jumbotron">
  <div class='row'>

    <div class="col-sm-6 col-md-5">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/200%x350">
      </a>
    </div>

    <section class="col-sm-6 col-md-7">

      <h1>Lorem ipsum dolor sit amet</h1>
      <ul>
        <li>Consectetur adipisicing elit</li>
        <li>Sed do eiusmod tempor</li>
        <li>Ut enim ad minim veniam</li>
      </ul>
      <p><a href="#" class="btn btn-primary btn-lg" role="button">BUY NOW</a></p>
    </section>

  </div>
</div>

<hr>

<section class='row'>
  <% 3.times do %>
    <%= erb :home_sub_article %>
  <% end %>

  <hr>
</section>