<article class='col-md-4'>
  <h3>
    <a href="#">Consectetur adipisicing</a>
  </h3>
  <img data-src="holder.js/100%x200">
  <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</article>