<!DOCTYPE html>
<html>
  <head>
    <title>Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <script data-main="js/app.js" src="js/require.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section>
      <div>
        <div>

          <% unless content == 'user_journeys' %>
            <%= erb :nav, locals: locals %>
          <% end %>
       
          <section id='main' class='row'>
            <div class='col-xs-12'>
              <%= erb content.to_sym, locals: locals %>
            </div>
          </section>

          <% unless content == 'user_journeys' %>
            <%= erb :footer %>
          <% end %>
        </div>
      </div>
    </section>
  </body>

  <%= erb :modal %>
</html>