<!-- <script data-main='js/user_journeys.js' src='js/require.js'></script> -->
<script src="js/raphael.js"></script>
<script src="js/flowchart.js"></script>

<div id='code'>
	st=>start: Legend form field visible:>http://www.google.com[blank]
	e=>end:>
	st->e
</div>

<script type="text/javascript">
  // window.onload =  function() {
	 //  var code = document.getElementById('code').textContent;
	 //  var uj = new UserJourneys;
	 //  uj.draw(code);
  // };
  window.onload = function() {
    var code = document.getElementById('code').textContent;
    var chart = flowchart.parse(code);
    chart.drawSVG('canvas');
  };

</script>