footer {
  border-color: #e7e7e7;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  padding: 10px;
}

#main {
  margin: 60px 0 50px 0;
}

.user_journey_nav > ul > li {
  border: 1px solid #ddd;
}

.user_journey_user_name {
  background: #ddd;
  border: none;
}

.user_journey_user_name > p {
  font-weight: bold;
  padding: 2px 15px;
  margin-top: 5px;
}

svg {
  width: 1000px;
}