footer {
  border-color: #e7e7e7;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  padding: 10px;
}

#main {
  margin: 60px 0 50px 0;
}

.user_journey_nav > ul > li {
  border: 1px solid #ddd;
}

.user_journey_user_name {
  background: #ddd;
  list-style: none;
}

.user_journey_user_name > a {
  color: #333;
  font-weight: bold;
  padding: 5px;
  display: block;
  margin-top: 5px;
}

.user_journey_user_name > a:hover {
  color: #333;
  background: #eee;
}

.current_user_journey {
  background: #428bca;
}

.current_user_journey > a {
  border-radius: 0;
  color: white;
}

.current_user_journey > a:hover {
  background: #428bca;
  color: white;
}

.user_journey_instructions {
  margin-top: 55px;
}

.user_journey_user_name {
  padding: 5px;
}

.user_journey_user_name > .panel_collapse {
  background: white;
}

.user_journey_list {
  background: white;
}

#user_journey_list_ul {
  padding: inherit;
}

#user_journey_list_ul > li {
  padding-left: 0;
}

.user_journey_user_name > ul {
  background: white;
  padding-left: 0;
}

.user_journey_list_item {
  list-style: none;
}

ul > li {
  padding-left: 5px;
  list-style: none;
  display: block;
}

svg {
  width: 1500px;
  height: 1000px;
}